* {
    box-sizing: border-box;
}

.container {
    text-align: center;
}

.social {
    font-size: 0;
    white-space: nowrap;
}

.social button {
    font-size: 14px;
    width: 50%;
    display: inline-block;
    border: 0;
    padding: 10px;
    color: white;
}

.social button.facebook {
    background-color: #3d599b;
}

.social button.twitter {
    background-color: #53abf1;
}

.details {}

.inline-group {
    font-size: 0;
    white-space: nowrap;
    padding: 10px;
}

.inline-group .input-group {
    padding: 0px;
    font-size: 14px;
    width: 50%;
    display: inline-block;
}

.input-group {
    padding: 10px;
}

.input-group input {
    width: 100%;
    padding: 5px;
}